@charset 'UTF-8';

*{
    text-align: center;
}

.container{
    max-width: 400px;
    border: solid 1px black;
    margin: 0 auto 20px auto;
    display: flex;
}

.item{
    background-color: springgreen;
    margin: 5px;
}


.basis-auto{
    flex-grow: 1;
    flex-basis: auto;

}

.basis-1{
    flex-grow: 1;
    flex-basis: 0;
}