.row-nowrap{
    flex-flow: row nowrap;
}
.row-wrap{
    flex-flow: row wrap;
}

.column-nowrap{
    flex-flow: column nowrap;
}


.container{
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
}

.item{
    flex: 1;
    margin:5px;
    background-color: tomato;
    text-align: center;
}